/* positioning of the portfolio space */
.container{
    position: relative;
    border: 2px double black;
    margin-top: 10px;
    height: 100px;
    border-radius: 20px;
    height: 100%;
    padding-bottom: 10px;
}

/* styling of nav bar */
.nav{
    margin-top: 10px;
    height: 35px;
    border: 2px double black;
    align-items: center;
    border-radius: 10px;
    background-color: antiquewhite;
}
h3{
    margin-left: 450px;
}

/* positioning the icons on the navbar */
.nav-right{
    margin-left: 450px;
    cursor: pointer;
}
.nav-left{
    margin-left: 10px;
    cursor: pointer;
}

/* alignment of divs in the rows*/
.row{
    display: flex;
    justify-content: space-evenly;
}

/* styling the divs */
.col-3{
    margin-top: 10px;
    border: 2px double black;
    border-radius: 10px;
    background-color: antiquewhite;
    text-align: center;
}

/* adjusting size of the divs  */
#r1, #r2, #r3{
    height: 400px;
}
#r4, #r5, #r6{
    height: 200px;
}
#r1, #r3{
    width: 250px;
}
#r4, #r6{
    width: 350px;
}
#r5{
    width: 500px;
    text-align: center;
    align-content: center;
}
#r2{
    width: 700px;
}

/* styling and alignment of central div in row 1  */
.g-col-4{
    display: inline-flex;
    border: 2px dotted black;
    margin-top: 30px;
    justify-content: space-evenly;
}
#inner1, #inner3{
    height: 50px;
    width: 200px;
    background-color: aliceblue;
}
#inner2{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: aliceblue;
}

/* styling cards inside the right sidebar in row 1  */
.card{
    width: 230px;
    height: 150px;
    margin-bottom: 5px;
    justify-self: center;
    text-align: justify;
    background-color: aliceblue;
}

/* styling the circle inside the left sidebar in row 1  */
.circ{
    height: 100px;
    width: 100px;
    border: 2px dotted black;
    border-radius: 100%;
    justify-self: center;
    margin-top: 50px;
    background-color: aliceblue;
}

/* styling the icons in the right sidebar in row 2  */
#icon1, #icon2, #icon3{
    cursor: pointer;
}
