body{
    background-color: aliceblue;
}

/* styling of overall page */
.single-main-container {
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    background-color:cornsilk;
    margin-bottom: 10px;
}
.row{
    margin-top: 10px;
}

/* styling navbar */
#nav{
    background-color:cornsilk;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
}

/* designing profile picture space */
.circ {
    height: 100px;
    width: 100px;
    border: 2px dotted black;
    border-radius: 50%;
    margin: 20px auto;
    background-color: aliceblue;
}

/* styling the image picture */
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px dotted black;
    align-self: center;
}

/* styling the personal info div */
#TitleBox{
    border: dashed 3px black;
    border-radius: 5px;
    height: fit-content;
    text-align: center;
}
ol{
    margin-top: 50px;
    margin-left: 50px;
}

/* styling bootstrap card */
#card{
    background-color: aliceblue;
}

/* styling icons */
.material-symbols-outlined {
    cursor: pointer;
}

/* styling headings */
h4{
    color:rgb(67, 67, 253);
}

@media (min-width:720px) {
    .single-main-container {
        height: 100%;
    }
}
