body{
    background-color: aliceblue;
}

/* styling navbar */
#nav{
    background-color:cornsilk;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

/* styling and aligning divs of the rows */
#two, #five{
    background-color:cornsilk;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}
#one, #three, #four, #six{
    background-color:cornsilk;
    width: 362px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

/* styling headings */
h4{
    color:rgb(67, 67, 253);
    background-color: aliceblue;
}

/* designing profile picture space */
.circ {
    height: 100px;
    width: 100px;
    border: 2px dotted black;
    border-radius: 50%;
    margin: 20px auto;
    background-color: aliceblue;
}

/* styling bootstrap card */
.card-body {
    height: 150px;
    margin-top: 50px;
    background-color: aliceblue;
}
#card{
    background-color: aliceblue;
}

/* styling icons */
.material-symbols-outlined {
    cursor: pointer;
}

/* creating border around picture space */
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px dotted black;
    text-align: center;
}

